<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="img/favicon.ico">
    <title>ReSupply</title>

    <!-- Bootstrap -->
    <link href="stylesheets/bootstrap.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Exo+2:300,700' rel='stylesheet' type='text/css'>  
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/inventory.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

<!--    <script>
    function clickFocus() {
      $('td').click(function (event) {
        $('td').removeClass('focus'); //Remove focus from other TDs
        $(this).addClass('focus');
      });
    }
  </script> -->

  </head>
  <body class="invbody">
  
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">INVENTORY</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="index">Dashboard</a></li>
        <li class="active"><a href="#">Inventory</a></li>
        <li><a href="chat">Messenger</a></li>
        <li><a href="logout">Log Out</a></li>
      </ul>
      <ul class="nav navbar-nav">
<!-- ===========BACKEND STUFF START HERE ==========-->
<!-- Need to write <li> block to populate <a> tag with logged in user's name -->
        <li><a  id="current-user-name" href="#">Logged in as: {{{name}}}</a></li>
<!-- ===========BACKEND STUFF END HERE ==========-->
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">
<!-- ===========BACKEND STUFF START HERE ==========-->
    <form class="form-inline" id="addFriendForm" role="form" method="get" action="/searchRedirect">
      <div class="form-group" id="search_reset_row">
        <div class="col-xs-6">
          <input type="text" class="form-control" id="name" placeholder="Search Inventory" name="item_name">
        </div>
        <div class="col-xs-2">
          <input type="submit" id="submitBtn" class="btn btn-default btn-block" value="Reset" role="form" method="get" action="/inventory">
        </div>
      </div>
    </form>
<!-- Searching should filter out unmatched items -->
<!-- ===========BACKEND STUFF END HERE ==========-->
  </div>
</div>
  <!-- Table -->
  <table class="table">
    <thead>
      <tr>
        <th class="item-name"><a href='/sortNameRedirect'>Item Name</a></th>
        <th class="qty-name"><a href='/sortStatusRedirect'>Status</a></th>
        <th class="modified-name"><a href='/sortModifiedByRedirect'>Modified By</a></th>
      </tr>
    </thead>
    <tbody>
<!-- ===========BACKEND STUFF START HERE ==========-->
<!-- First row should be empty and allow user to input new item. -->
      <tr class="newitem">
        <form id="addFriendForm" role="form" method="get" action="/addRedirect">
          <div class="form-group">
            <td class="item-width">
              <input type="text" class="form-control" id="name" placeholder="Item Name" name="item_name" required>
            </td>
            <td class="qty-width">
              <select class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" id="status_menu" name="status" required>
              <ul class="dropdown-menu" role="menu" aria-labelledby="status_menu">
                <option value="Normal" selected><a role="menuitem" tabindex="-1" href="#">Normal</a></option>
                <option value="Low"><a role="menuitem" tabindex="-1" href="#">Low</a></option>
                <option value="Restock Now"><a role="menuitem" tabindex="-1" href="#">Restock Now</a></option>
                <option value="Empty"><a role="menuitem" tabindex="-1" href="#">Empty</a></option>
                </ul>
              </select>
            </td>
            <td>
              <input type="submit" id="submitBtn" class="btn btn-default btn-block" value="Add Item">
            </td>
            <input type="hidden" class="form-control" name="modified_by" value="{{{name}}}">
          </div>
        </form>
      </tr>
    </tbody>
  </table>
<!-- ===========BACKEND STUFF END HERE ==========-->
<!-- ===========BACKEND STUFF START HERE ==========-->
<div id="unmargined_list" class="table">
  {{#each items}}
  {{#if red.length}}
    <div class="row item_row_red">
  {{else}}
    {{#if yellow.length}}
      <div class="row item_row_yellow">
    {{else}}
      {{#if orange.length}}
        <div class="row item_row_orange">
      {{else}}
        <div class="row item_row">
      {{/if}}
    {{/if}}
  {{/if}} 
    <div class="col-xs-5">
      <div class="row item_row_height item_name">
        {{item_name}}
      </div>
      <div class="row modified_by">
        Last mod: <div class="user_name">{{modified_by}}</div>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="row item_row_height qty_title">
        Status
      </div>
      <div class="row quantity">
        <select class="btn btn-default eastereggsnigga"  type="button" data-toggle="dropdown" id="status_menu" name="status" required>
            <ul class="dropdown-menu" role="menu" aria-labelledby="status_menu">
              <option value="{{status}}">{{status}}</option>
              <option value="Normal"><a role="menuitem" tabindex="-1" href="#">Enough</a></option>
              <option value="Low"><a role="menuitem" tabindex="-1" href="#">Getting Low</a></option>
              <option value="Restock Now"><a role="menuitem" tabindex="-1" href="#">Restock Now</a></option>
              <option value="Empty"><a role="menuitem" tabindex="-1" href="#">Empty</a></option>
            </ul>
          </select>
      </div>
    </div>
    <div class="col-xs-3 status_button">
      <div class="row item_row_height">
          <form id="addFriendForm" role="form" method="get" action="/removeRedirect" onsubmit="return confirm('Do you want to remove &quot;{{{item_name}}}&quot; from the inventory?');">
          <div class="form-group">
              <input type="hidden" class="form-control" name="item_id" value="{{{_id}}}">
            <td>
              <input type="submit" id="submitBtn" class="btn btn-default btn-block button_height" value="Remove">
            </td>
          </div>
        </form>
      </div>
    </div>
  </div>
  {{/each}}
</div>


<!-- ===========BACKEND STUFF START HERE ==========-->



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.js"></script>
    <script src = "js/inventory.js"> </script>

  </body>
</html>