<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="img/favicon.ico">
    <title>InvAid</title>

    <!-- Bootstrap -->
    <link href="stylesheets/bootstrap.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Exo+2:300,700' rel='stylesheet' type='text/css'>  
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/inventory.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

<!--    <script>
    function clickFocus() {
      $('td').click(function (event) {
        $('td').removeClass('focus'); //Remove focus from other TDs
        $(this).addClass('focus');
      });
    }
  </script> -->

  </head>
  <body class="invbody">
  
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">InvAid</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="index">Dashboard</a></li>
        <li class="active"><a href="#">Inventory</a></li>
        <li><a href="chat">Messenger</a></li>
        <li><a href="logout">Log Out</a></li>
      </ul>
      <ul class="nav navbar-nav">
<!-- ===========BACKEND STUFF START HERE ==========-->
<!-- Need to write <li> block to populate <a> tag with logged in user's name -->
        <li><a  id="current-user-name" href="#">Logged in as: {{{name}}}</a></li>
<!-- ===========BACKEND STUFF END HERE ==========-->
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">
    <h3>Inventory</h3>
<!-- ===========BACKEND STUFF START HERE ==========-->
    <form class="form-inline" id="addFriendForm" role="form" method="get" action="/searchRedirect">
      <div class="form-group">
        <div class="col-xs-8">
          <input type="text" class="form-control" id="name" placeholder="Search Inventory" name="item_name">
        </div>
        <input type="submit" id="submitBtn" class="btn btn-default" value="Search">
      </div>
    </form>
    <form class="form-inline" id="addFriendForm" role="form" method="get" action="/inventory">
      <div class="form-group">
        <div class="col-xs-8">
          <input type="submit" id="submitBtn" class="btn btn-default" value="Reset">
        </div>
      </div>
    </form>
<!-- Searching should filter out unmatched items -->
<!-- ===========BACKEND STUFF END HERE ==========-->
  </div>
</div>


  <!-- PLAYING AROUND WITH STUFF -->


  <!-- Table -->
  <table class="table">
    <thead class="">
      <tr>
        <th class="id-name"><a href='/inventory'>#</a></th>
        <th class="item-name"><a href='/sortNameRedirect'>Item Name</a></th>
        <th class="qty-name"><a href='/sortStatusRedirect'>Status</a></th>
        <th class="modified-name"><a href='/inventory'>Modified By</a></th>
        <th class="">Remove</th>
      </tr>
    </thead>
    <tbody>
<!-- ===========BACKEND STUFF START HERE ==========-->
<!-- First row should be empty and allow user to input new item. -->
      <tr class="newitem">
        <form id="addFriendForm" role="form" method="get" action="/addRedirect">
          <div class="form-group">
            <td class="id-width"></td>
            <td class="item-width">
              <input type="text" class="form-control" id="name" placeholder="Item Name" name="item_name" required>
            </td>
            <td class="qty-width">
              <select class="btn dropdown-toggle" type="button" data-toggle="dropdown" id="status_menu" name="status" required>
              <ul class="dropdown-menu" role="menu" aria-labelledby="status_menu">
                <option value="Normal" selected><a role="menuitem" tabindex="-1" href="#">Normal</a></option>
                <option value="Low"><a role="menuitem" tabindex="-1" href="#">Low</a></option>
                <option value="Restock Now"><a role="menuitem" tabindex="-1" href="#">Restock Now</a></option>
                <option value="Empty"><a role="menuitem" tabindex="-1" href="#">Empty</a></option>
                </ul>
              </select>
            </td>
            <td>
              <input type="submit" id="submitBtn" class="btn btn-default" value="Add Item">
            </td>
            <input type="hidden" class="form-control" name="modified_by" value="{{{name}}}">
            <td>
              <fieldset disabled>
                <button type="submit" class="btn btn-default">X</button>
              </fieldset>
            </td>
          </div>
        </form>
      </tr>
<!-- ===========BACKEND STUFF END HERE ==========-->
<!-- ===========BACKEND STUFF START HERE ==========-->
<!-- Need to write a <tr> block for each item tied to account and highlight with appropirate color if recently changed or lower than threshold -->

<!-- THIS STUFF WILL BE REPLACED WITH MONGODB QUERIES -->
  <script>
    var i = 0;
  </script>
    {{#each items}}
      <tr>
        <script>
          i = i + 1;
          document.write("<td>" + i.toString() + "</td>");
        </script>
        <td contenteditable>{{item_name}}</td>
        <td>
          <select class="btn dropdown-toggle" type="button" data-toggle="dropdown" id="status_menu" name="status" required>
            <ul class="dropdown-menu" role="menu" aria-labelledby="status_menu">
              <option value="{{status}}">{{status}}</option>
              <option value="Normal"><a role="menuitem" tabindex="-1" href="#">Normal</a></option>
              <option value="Low"><a role="menuitem" tabindex="-1" href="#">Low</a></option>
              <option value="Restock Now"><a role="menuitem" tabindex="-1" href="#">Restock Now</a></option>
              <option value="Empty"><a role="menuitem" tabindex="-1" href="#">Empty</a></option>
            </ul>
          </select>
        </td>
        <td>{{modified_by}}</td>
        <form id="addFriendForm" role="form" method="get" action="/removeRedirect" onsubmit="return confirm('Do you want to remove &quot;{{{item_name}}}&quot; from the inventory?');">
          <div class="form-group">
              <input type="hidden" class="form-control" name="item_id" value="{{{_id}}}">
            <td>
              <input type="submit" id="submitBtn" class="btn btn-default no-padding-button" value="X">
            </td>
          </div>
        </form>
      </tr>
    {{/each}}

<!-- ===========BACKEND STUFF START HERE ==========-->
    </tbody>
  </table>

  <script>
    if (i == 0) {
      document.write("<center>No Inventory Items Found</center>");
    }
  </script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.js"></script>

  </body>
</html>